body {
	/* background: #9ec1d7 !important; */
	background: white !important;
}

nav {
    background: rgba(0, 0, 0, 0.4);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* div.card {
	background: rgba(0, 0, 0, 0.6);
	color: white;
} */

.card-img-top, div.carousel-item img {
	/* height: 15rem; */
	height: 22.5rem;
	object-fit: cover;
}

.background-image {
	background-image: url('../images/background.jpg');
	/* height: 100vh; */
	/* width: 100vw; */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* background:url('images/background.jpg') no-repeat center center fixed; */
}

.cover {
	background-color:rgba(0, 0, 0, 0.4);
}

.card .mask{
	height: 15rem;
}

.btn {
	text-transform: capitalize;
	font-size: 1rem;
}

.animate {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
  
	100% {
	  	transform: translateY(0rem);
	  	opacity: 1;
	}
  
	0% {
	  	transform: translateY(1rem);
	  	opacity: 0;
	}
}

.slideIn {
	animation-name: slideIn;
}
