body {
    /* background: #878282d8 !important; */
	background: rgba(0, 0, 0, 0.7) !important;
    /* position: relative; */
}

nav {
    background: rgba(0, 0, 0, 0.6);
}

div.card {
	background: rgba(0, 0, 0, 0.4);
	color: white;
}
